@use "variables" as vars;

@mixin respond-to($breakpoint, $pointer: null) {
@if $breakpoint == "overtablet" {
	@media only screen and (min-width: vars.$breakpoint-overtablet) {
	@if $pointer == "fine" {
		@media (pointer: fine) { @content; }
	} @else {
		@content;
	}
	}
} @else if $breakpoint == "overdesktop" {
	@media screen and (min-width: vars.$breakpoint-overdesktop) {
		@if $pointer == "fine" {
			@media (pointer: fine) { @content; }
		} @else {
			@content;
		}
	}
} @else if $breakpoint == "heightXXL" {
	@media screen and (min-height: vars.$breakpoint-heightXXL) {
		@if $pointer == "fine" {
			@media (pointer: fine) { @content; }
		} @else {
			@content;
		}
	}
}
}


//Basic Transition
@mixin basicTransition($property: all, $duration: .4s, $timing-function: ease-in-out) {
-webkit-transition: #{$property} #{$duration} #{$timing-function};
-moz-transition: #{$property} #{$duration} #{$timing-function};
-o-transition: #{$property} #{$duration} #{$timing-function};
transition: #{$property} #{$duration} #{$timing-function};
}