//colores
$DBC-GreyScale-600: #21201CFF;
$DBC-GreyScale-500: #4C4C4CFF;
$DBC-GreyScale-400: #838383FF;
$DBC-GreyScale-300: #BABABAFF;
$DBC-GreyScale-200: #D9D9D9FF;
$DBC-GreyScale-102: #FAF9F9FF;
$DBC-GreyScale-101: #F1EEEEFF;
$DBC-GreyScale-100: #FFFFFFFF;
$Brand-DBC-Mars-Flare: #F53003FF;
$Brand-DBC-Neptune-Veil: #E125F2FF;
$Brand-DBC-Uranus-Glow: #25C6F2FF;
$Brand-DBC-Europa-Mist: #35D8B7FF;
$Brand-DBC-Venus-Bloom: #F22577FF;

// src/styles/base/_typography.scss
$font-primary: 'Geist', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-mono: 'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", monospace;



$breakpoint-overtablet: 775px;
$breakpoint-overdesktop: 1220px;
$breakpoint-heightXXL: 985px;