@use '../abstracts/variables' as vars;

button.btn,
a.btn{
	border-radius: .25rem;
	font-weight: 400;
	cursor: pointer;
}

button.btn--M{
	font-size: 0.9rem;
	padding: 0.5rem 1rem;
	letter-spacing: 1px;
	line-height: 1.2rem;
}

button.btn--light{
	color: vars.$DBC-GreyScale-500;
	border: 1px solid;
	border-color: vars.$DBC-GreyScale-200;
	&:hover{
		border-color: vars.$DBC-GreyScale-300;
		color: vars.$DBC-GreyScale-600;
	}
}


button.btn--dark{
	color: vars.$DBC-GreyScale-100;
	background-color: vars.$DBC-GreyScale-600;
}



button.btn--link,
a.btn--link{
	font-size: .85rem;
	color: vars.$DBC-GreyScale-500;
	&:hover{
		color: vars.$Brand-DBC-Mars-Flare;
	}
}