@use 'variables' as vars;

p{
	font-size: 1rem;
	color:vars.$DBC-GreyScale-500;
	font-weight:400;
}


main.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 7.5rem;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 1px;
		background-image: repeating-linear-gradient(
		to bottom,
		vars.$DBC-GreyScale-300,
		vars.$DBC-GreyScale-300 8px,
		transparent 8px,
		transparent 16px
		);
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}
}

.landing__section{
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
}

[class$="__subtitle"] {
	color: vars.$Brand-DBC-Mars-Flare;
	font-family: var(--font-primary);
	font-size: 1rem;
	letter-spacing: 2px;
	font-weight: 500;
}