@use 'variables' as vars;


*, *::before, *::after {
	box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, blockquote, dl, dd {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img, picture {
	max-width: 100%;
	display: block;
}

button, input, textarea, select {
	font: inherit;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}