@use '../abstracts/variables' as vars;
.cases {
  .cases__slides {
    position: relative;

    .cases__slide {
    //   display: none;

      &.active {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  .cases__nav-list {
    .cases__nav-item button {
      font-family: var(--font-mono);
      color: vars.$DBC-GreyScale-300;
      font-weight: 500;
      font-size: 1.2rem;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        color: vars.$DBC-GreyScale-600;
      }

      &.current {
        color: vars.$DBC-GreyScale-600;
      }
    }
  }
}