@use '../abstracts/variables' as vars;

.footer{
	display: flex;
	flex-direction: column;
	background-color: vars.$DBC-GreyScale-100;
	border-top: 1px solid vars.$DBC-GreyScale-200;
	width: 100%;
	font-size: .87rem;
	font-weight: 400;
	.footer__main{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 3rem 2.5rem 5rem 2.5rem;
		.footer__logo{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			gap:1.5rem;
			.footer__impecables{
				color: vars.$Brand-DBC-Mars-Flare;
			}
		}

		.footer__nav{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			gap: 6rem;
			width: 50%;
			justify-content: flex-end;
			padding: 0 2rem;
			font-size: .87rem;
			.footer__nav-mainMenu{
				display: flex;
				flex-direction: column;
				gap: 1rem;
				h6{
					font-size: .87rem;
					color:vars.$DBC-GreyScale-500;
				}
				ul.footer__menu{
					display: flex;
					flex-direction: column;
					gap: 1rem;
					li.footer__menu-item{
						color:vars.$DBC-GreyScale-400;
						font-size: .87rem;
					}
				}
			}
		}
	}

	.footer__bottom{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: vars.$DBC-GreyScale-600;
		color:vars.$DBC-GreyScale-100;
		font-size: .8rem;
		font-weight: 300;
		padding: .5rem;
		.footer__legal{
			display: flex;
			flex-direction: row;
			.footer__legal-menu{
				display: flex;
				flex-direction: row;
			}
		}
	}
}