@use '../abstracts/variables' as vars;
@use "../abstracts/mixins" as mixins;

.footer{
	display: flex;
	flex-direction: column;
	background-color: vars.$DBC-GreyScale-100;
	border-top: 1px solid vars.$DBC-GreyScale-200;
	width: 100%;
	font-size: .87rem;
	font-weight: 400;
	&__main{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 2.5rem 2rem 4rem 2rem;
		gap: 2.5rem;
		@include mixins.respond-to("overtablet"){
			flex-direction: row;
			padding: 3rem 2.5rem 5rem 2.5rem;
			gap: 0rem;
		}
	}
	&__logo{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap:1.5rem;
		@include mixins.respond-to("overtablet"){
			flex-direction: row;
		}
		.footer__impecables{
			color: vars.$Brand-DBC-Mars-Flare;
		}
	}

	&__nav{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 6rem;
		width: 100%;
		justify-content: space-between;
		padding: 0;
		@include mixins.respond-to("overtablet"){
			width: 50%;
			padding: 0 2rem;
			justify-content: flex-end;
		}
		font-size: .87rem;
		.footer__nav-mainMenu{
			display: flex;
			flex-direction: column;
			gap: 1rem;
			h6{
				font-size: .87rem;
				color:vars.$DBC-GreyScale-500;
			}
			ul.footer__menu{
				display: flex;
				flex-direction: column;
				gap: .6rem;
				li.footer__menu-item{
					color:vars.$DBC-GreyScale-400;
					font-size: .87rem;
					button.btn{
						text-align: left;
						white-space: nowrap;
					}
				}
			}
		}
	}

	&__bottom{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		background-color: vars.$DBC-GreyScale-600;
		color:vars.$DBC-GreyScale-100;
		font-size: .8rem;
		font-weight: 300;
		padding: 1rem 1.5rem;
		gap: 0.5rem;
		@include mixins.respond-to("overtablet"){
			flex-direction: row;
			align-items: center;
		}
		.footer__legal{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 0.3rem;
			width: 100%;
			@include mixins.respond-to("overtablet"){
				justify-content: unset;
				width: unset;
				gap: 1rem;
				flex-direction: row;
			}
			&-title{
				font-family: var(--font-primary);
				font-size: .9rem;
			}
			&-menu{
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				gap: 1rem;
				@include mixins.respond-to("overtablet"){
					gap: .8rem;
					justify-content: unset;
				}
			}
			&-item{
				button.btn{
					color:vars.$DBC-GreyScale-100;
					font-size: .8rem;
				}
			}
		}
		.footer__copyright{
			color:vars.$DBC-GreyScale-300;
			font-weight: 500;
		}
	}


	&__contact{
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	&__address{
		color: vars.$DBC-GreyScale-400;
		font-size: .9rem;
	}
}