@use '../abstracts/variables' as vars;

.form{
    display: flex;
	flex-direction: column;
    gap: 1.5rem;

	&__col-2{
		display: flex;
		flex-direction: row;
        gap:2rem;
        > .form__group:first-child{
            width: 25%;
        }
        > .form__group:nth-child(2){
            width: 75%;
        }
	}

    &__group{
        display: flex;
		flex-direction: column;
        gap: 0.2rem;
    }

    &__label{
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }

}



input.form__input,
textarea.form__textarea{
	background-color: vars.$DBC-GreyScale-100;
	border: 1px solid vars.$DBC-GreyScale-200;
	border-radius: 4px;
	padding: .5rem;
	font-size: 0.8rem;
}