@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;


.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 1rem 2rem 0rem 2rem;
	position: fixed;
	background-color: white;
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
	z-index: 10;

	.header__col-1 {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 1rem;

	}
	&__logo{
		padding-bottom: .5rem;
	}

	&__logo-image {
		height: 60px;
	}

	&__hamburger {
		background: none;
		border: none;
		font-size: 2rem;
		cursor: pointer;
		display: block;

		@include mixins.respond-to("overtablet") {
		display: none;
		}
	}

	&__nav {
		display: none;
		flex-direction: column;
		padding-top: 1rem;

		&.is-open {
		display: flex;
		}

		@include mixins.respond-to("overtablet") {
		display: flex;
		flex-direction: row;
		padding-top: 0;
		}
	}

	&__menu {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: flex-end;
		@include mixins.respond-to("overtablet") {
		flex-direction: row;
		gap: 2rem;
		}

		&-item button {
		font-weight: 500;
		background: none;
		border: none;
		cursor: pointer;
		padding: 16px 0;

		&:hover {
			border-bottom: 2px solid vars.$Brand-DBC-Mars-Flare;
			padding: 14px 0;
		}

	}
	}

	&__contact {
		display: none;

		@include mixins.respond-to("overtablet") {
		display: flex;
		padding-bottom: 1rem;
		}
	}
}