@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;


.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 1rem 2rem 0rem 2rem;
	position: fixed;
	background-color: vars.$DBC-GreyScale-100;;
	width: 100%;
	border-bottom: 1px solid vars.$DBC-GreyScale-200;
	z-index: 10;

	&__col-1 {
		display: flex;
		justify-content: space-between;
		
		
		width: 100%;
		gap: 1rem;
		@include mixins.respond-to("overtablet") {
					
			width: unset;
		}
	}
	&__logo{
		padding-bottom: .5rem;
	}

	&__logo-image {
		height: 60px;
	}

	&__hamburger {
		background: none;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;

		.hamburger-line {
			transition: transform 0.3s ease, y 0.3s ease, opacity 0.3s ease;
			transform-origin: center;
		}

		&.is-open {
			> svg{
				height: 32px;
				width: 32px;
			}
			
			.line-top {
				transform: rotate(45deg);
			
			}
			.line-bottom {
				transform: rotate(-45deg);
			}

			.line-top, .line-bottom{
				transform-origin: 12px 5px;
				stroke: #000;
			}
		}

		@include mixins.respond-to("overtablet") {
			display: none;
		}
	}



	&__nav {
		display: none;
		flex-direction: column;
		padding-top: 1rem;

		&.is-open {
			display: flex;
			flex-direction: row;
			position: absolute;
			overflow: scroll;
			background-color: vars.$DBC-GreyScale-100;
			top: 90px;
			left: 0;
			width: 100vw;
			align-items: center;
			padding: .5rem 3rem;
			border-bottom: 1px solid vars.$DBC-GreyScale-200;
			border-top: 1px solid vars.$DBC-GreyScale-200;
		}

		@include mixins.respond-to("overtablet") {
			display: flex;
			position: unset;
			flex-direction: row;
			padding-top: 0;
			&.is-open {
				position: unset;
				width: unset;
				align-items: end;
			}
		}
	}

	&__menu {
		list-style: none;
		display: flex;
		flex-direction: row;
		gap: 4rem;
		align-items: flex-end;
		white-space: nowrap;
		@include mixins.respond-to("overtablet") {
			flex-direction: row;
			gap: 2rem;
		}

		&-item button {
		font-weight: 500;
		background: none;
		border: none;
		cursor: pointer;
		padding: 1rem 0;
		transition: all 0.7s ease;
		border-bottom: 2px solid transparent;
		&:hover {
			border-bottom: 2px solid vars.$Brand-DBC-Mars-Flare;
		}

	}
	}

	&__contact {
		display: none;

		.btn{
			gap:.25rem;
		}


		@include mixins.respond-to("overtablet") {
		display: flex;
		padding-bottom: 1rem;
		}
	}
}