@use '../abstracts/variables' as vars;
@use "../abstracts/mixins" as mixins;

.hero{
	height: 100vh;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 95px;
	padding-bottom: 2.5rem;
	gap: 1.5rem;
	@include mixins.respond-to("overtablet"){		
		gap: 4.5rem;
	}
	.hero__content{
		width: 100%;
		padding: 0 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		align-content: flex-start;
		gap: 1rem;
		padding-top: 2rem;
		height: 100%;
		@include mixins.respond-to("overtablet"){		
			flex-direction: column-reverse;
		}
		&-text{
			display: flex;
			flex-direction: column;
			gap:1rem
		}
		.hero__tagline-wrapper{
			color: vars.$Brand-DBC-Mars-Flare;	
			small.hero__tagline{
				border: 1px solid;
				border-radius: 4px;
				padding: .25rem .5rem;
				font-weight: 600;
			}
		}

		.hero__actions{
			display: flex;
			flex-direction: row;
			gap:1.5rem;
			margin-top: .5rem;
			@include mixins.respond-to("overtablet"){
				margin-top: 2.5rem;
			}
			li{
				display: flex;
			}
		}

		h1.hero__title{
			display: flex;
			flex-direction: column;
			white-space: nowrap;
			gap: 0;
			line-height:3.5rem;
			@include mixins.respond-to("overdesktop"){
				flex-direction: row;
				line-height:initial;
			}
			@include mixins.respond-to("overtablet"){
				gap:1rem;
			}
			span.hero__title-ascent{
				color: vars.$Brand-DBC-Mars-Flare;
				min-height: 3.5rem;

			@include mixins.respond-to("overtablet"){
				min-height: 6rem;
			}


			}
		}
		h5.hero__description{
			font-size: 1rem;
			b{
				font-weight: 600;
			}
			@include mixins.respond-to("overtablet"){
				font-size: initial;
			}
		}
	}

	.separator-wrapper {
		overflow: hidden;
		width: 100%;
		min-height: 1.4rem;
	}

	ul.separator {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		white-space: nowrap;
		animation: scroll 10s linear infinite; 

		li {
			color: vars.$DBC-GreyScale-400;
			font-family: var(--font-mono);
			font-weight: 500;
			letter-spacing: 1px;
			font-size: .9rem;
			flex-shrink: 0;
		}
	}



	&__video-background{
		width: 100%;
		max-width: 500px;
		position: initial;
		@include mixins.respond-to("overtablet"){
			position: absolute;
			right: 0;
			top: 146px;
			z-index: -1;
			max-width: 400px;
		}

		@include mixins.respond-to("overdesktop"){
			max-width:450px;
		}

	}
}


