@use '../base/variables' as vars;


.lo-que-hacemos{
	gap: 3rem;
	.lo-que-hacemos__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, auto);
		gap: 2rem;
		margin: 0;
		padding: 0;
		.lo-que-hacemos__term {
			.lo-que-hacemos__definition {
				font-family: var(--font-primary);
				font-weight: 400;
				font-size: .9rem;
				color: vars.$DBC-GreyScale-400;
				line-height: 146%;
			}
		}
	}
}


