@use '../abstracts/variables' as vars;
@use "../abstracts/mixins" as mixins;

.lo-que-hacemos{
	gap: 3rem;
	&__list {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin: 0;
		padding: 0;
		@include mixins.respond-to("overtablet"){
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, auto);
			gap: 3rem 2.5rem;
		}
	}

	&__term{
		color: vars.$DBC-GreyScale-600;
	}

	&__item{
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}
	&__definition {
		font-family: var(--font-primary);
		font-weight: 400;
		font-size: .9rem;
		color: vars.$DBC-GreyScale-500;
		line-height: 146%;
	}
		
}


