@use '../abstracts/variables' as vars;

.modal {
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	&__overlay {
		position: absolute;
		inset: 0;
		background: rgba(53, 53, 53, 0.1);
	}

	&__content {
		background: vars.$DBC-GreyScale-100;
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 2.5rem;
		border-radius: 1rem;
		max-width: 801px;
		width: 100%;
		z-index: 1001;
		gap: 2rem;

		// Initial state
    transform: translateY(32px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
	}
	
	&__header{
		h3{
			color: vars.$Brand-DBC-Mars-Flare;	
		}
	}

	&__close {
		position: absolute;
		top: 3rem;
		right: 2.5rem;
		background: none;
		border: none;
		font-size: .85rem;
		cursor: pointer;
		color: vars.$DBC-GreyScale-500;
	}

	// Active state
	&.modal--open {
		.modal__overlay {
		opacity: 1;
		}
		.modal__content {
		transform: translateY(0);
		opacity: 1;
		}
	}

	&.modal--closing {
		.modal__overlay {
		opacity: 0;
		}
		.modal__content {
		transform: translateY(32px);
		opacity: 0;
		}
	}

}