.services{
	display: flex;
	flex-direction: row;
	padding: 0 2rem;
	gap: 3rem;
	.services__intro{
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap:1.5rem;
	}
	.services__carousel{
		width: 55%;
		display: flex;
		flex-direction: row;
	}
}