@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.services{
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
	gap: 3rem;
	@include mixins.respond-to("overtablet"){
		flex-direction: row;
	}
	.services__intro{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap:1.5rem;
		@include mixins.respond-to("overtablet"){
			width: 55%;
		}
	}

	.services__carousel-wrapper {
		overflow: hidden;
		width: 100%;
		@include mixins.respond-to("overtablet"){
			width: 45%;
		}
	}
	
	ul.services__carousel {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		white-space: nowrap;
		animation: scroll 20s linear infinite; 
	
		li {
			color: vars.$DBC-GreyScale-400;
			font-family: var(--font-mono);
			font-weight: 500;
			letter-spacing: 1px;
			font-size: .9rem;
			flex-shrink: 0;
		}
	}
}