// base
@use 'abstracts/reset';
@use 'abstracts/variables';
@use 'abstracts/typography';
@use 'base/buttons';
@use 'base/elements';
@use 'base/animations';


//blocks
@use 'blocks/header';
@use 'blocks/heroZone';
@use 'blocks/loQueHacemos';
@use 'blocks/servicios';
@use 'blocks/casosDeExito';
@use 'blocks/conocenos';
@use 'blocks/footer';
@use 'blocks/modal';
@use 'blocks/form';


@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');